table {
    display: block;
    overflow-x: auto;
}



#schedule_container ul {
    list-style-type: none;
    margin: 0px;
	padding: 0px;
}


#schedule_container li {
	border-radius: 25px;
    padding: 7px;
    margin: 5px;
    text-align: center;
}

#schedule_container li:hover {
	cursor: pointer;
}