{{ define "main" }}
{{ $pages := (where .Site.Pages "Section" "sessions") }}
<main>
	<section class="p-strip--suru">
		<div class="row">
			<h2>{{.Title}}</h2>
			{{ with .OutputFormats.Get "Calendar" -}}
				<a rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
					<button>{{ i18n "ical_subscribe" }}</button>
				</a>
				<a rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}">
					<button>{{ i18n "ical_add" }}</button>
				</a>
			{{- end }}
		</div>
	</section>
	<section class="p-strip">
		<div class="row">
			<div id="schedule_container">
				<ul>
					{{ range sort $pages ".Params.date" }}{{ if .Params.speakers }}
	   					<li onclick="location.href='{{.RelPermalink}}';" style="background-color: {{.Params.category}};">
	    					<div>
	    						<b>{{.Title}} - {{range .Params.speakers}}{{.name}};{{end}}</b>
	    					</div>
	    					<div>
	    						<b>Data Inicio:</b>
	    						<small class="timedisplay" style="text-decoration-style: dotted;">{{dateFormat "2006-01-02T15:04:05-07:00" .Date.UTC}}</small>
	    						<br>
	    						<b>Data Fim:</b>
	    						<small class="timedisplay" style="text-decoration-style: dotted;">{{dateFormat "2006-01-02T15:04:05-07:00" (time .Params.end).UTC}}</small>
	    					</div>
    					</li>
    				{{ end }}{{ end }}
				</ul>
			</div>
		</div>
	</section>
</main>
{{ end }}
