{{ define "main" }}
<main>
  <section class="p-strip--accent">
    <div class="row">
      <h2>{{.Title}}</h2>
    </div>
  </section>
  <section class="p-strip">
    <div class="row">
      {{ $pages := .Paginator.Pages }}

      {{ range where $pages "Section" "news" }}
      <article>
        <a href="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
        </a>
        <b>{{ .Date.Format "2006-01-02 03:04 PM MST" }}</b>
            <ul class="p-inline-list--middot">
            {{range .Params.authors}}
            <li class="p-inline-list__item">
            {{.name}}
            </li>
            {{end}}
        </ul>
        <p>{{.Summary | truncate 200 }}</p>
      </article>
      {{ end }}

      {{- partial "pagination.html" . -}}
    </div>
  </section>
</main>
{{ end }}