{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<main>
    <section class="p-strip--suru">
        <div class="row">
            <b>{{ i18n "news" }}</b>
            <h2>{{.Title}}</h2>
            <!--
            <ul class="p-inline-list--middot">
              {{range .Params.authors}}
              <li class="p-inline-list__item" style="color: white;">
                {{.name}}
              </li>
              {{end}}
            </ul>
            -->
        </div>
      </section>
      <section class="p-strip">
        <div class="row">
          <p><u class="timedisplay" style="text-decoration-style: dotted;">{{.Date.Format "2006-01-02T15:04:05-07:00"}}</u></p>
          {{ .Content }}
          <hr/>
          {{ range .Params.authors }}
          <div class="p-media-object">
            {{with .profile}}
              <img src="{{. | relURL}}" class="p-media-object__image is-round" alt="">
            {{ else }}
              <img src='{{ "/images/ubuntu.png" | relURL }}' class="p-media-object__image is-round" alt="" style="object-fit: cover; width: 96px; height: 96px;">
            {{end}}
            <div class="p-media-object__details">
              <a href="mailto:{{.email}}">
                <h3 class="p-media-object__title">
                  {{.name}}
                </h3>
              </a>
              <p class="p-media-object__content">{{.bio}}</p>
              <p class="p-media-object__content">
                {{with .launchpad}}<a href="https://launchpad.net/~{{.}}">Launchpad</a>{{end}}
                {{with .github}}<a href="https://github.com/{{.}}">GitHub</a>{{end}}
                <a href="{{.linkurl}}"> {{.linklabel}}</a>
              </p>
            </div>
          </div>
          {{ end }}
          <a href='{{ ref . "/news/" }}'><button>Mais notícias</button></a>
        </div>
      </section>
</main>

{{end}}