
<script>

let fuse = undefined;

async function initSearchIndex() {
    let res = await fetch('{{ if ne (.Site.LanguagePrefix | relURL) "/" }}{{ .Site.LanguagePrefix | relURL }}{{ end }}/index.json');
    let data = await res.json();
    fuse = new Fuse(data, { // fuse.js options; check fuse.js website for details
        shouldSort: true,
        location: 0,
        distance: 100,
        threshold: 0.4,
        minMatchCharLength: 2,
        keys: [
            'title',
            'permalink',
            'summary',
            'contents'
        ]
    });
}
</script>
<script type="text/javascript" src='{{ "/js/ubucon_pt.js" | relURL }}'></script>
<script type="text/javascript" src='{{ "/js/timedisplay.js" | relURL }}'></script>